@page "/"

@inject IAuthenticateUseCases AuthenticateUseCase
@inject IProjectsScreenUserCase ProjectsScreenUserCase

<h3>Projects</h3>
<br />

@if (projects != null)
{
    <ul>
        @foreach (var project in projects)
        {
            <li>
                <NavLink href="@($"/projects/{project.ProjectId}/tickets")" Match="NavLinkMatch.All">
                    @project.Name
                </NavLink>
            </li>
        }
    </ul>
}

Token:  @token

@code {
    IEnumerable<Project> projects;
    string token;

    protected override async Task OnInitializedAsync()
    {
        token = await AuthenticateUseCase.LoginAsync("june", "password");
        projects = await ProjectsScreenUserCase.ViewProjectsAsync();
    }
}
